body {
    display: flex;
    flex-direction: column;
    
}

.resultsInput {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    
    
    /* text-align: center; */
}

div.output {
    display: flex;
    margin: 5rem;
    justify-content: space-evenly;
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
           
}

.choices {
    margin-bottom: 4em;
    height: 5rem;
    width: 40rem;
}

.reset {
    height: 5rem;
    width: 40rem;
}