body {
    display: flex;
    flex-direction: column;
    
}

div.resultsInput {
    
    font-family: Arial, Helvetica, sans-serif;
    
    /* text-align: center; */
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
           
}

.choices {
    margin-bottom: 4em;
    height: 5rem;
    width: 40rem;
}

.reset {
    height: 5rem;
    width: 40rem;
}